.debug {
	display: none;
}
div.tablemarkup > table {
        border-collapse: collapse;
        border: 1px solid black;
}
div.tablemarkup > table * td, div.tablemarkup > table * th {
        padding-top: 1.1mm;
        padding-bottom: 1.1mm;
        padding-left: 1.1mm;
        padding-right: 1.1mm;
        border: 1px solid black
}
